[class*=radio-container] {
  display: flex;
  margin-bottom: 0 !important;
  flex-wrap: wrap;
  gap: 3px;

  > label {
    display: flex;
    align-items: center;
    margin-bottom: 0 !important;
  }

  > div {
    margin-left: auto;
    margin-bottom: 0.25em !important;

    > div {
      > div[class*=color-picker-radiogroup] {
        display: flex;
        gap: 3px;

        > label {
          margin: 0 !important;
          padding: 1px !important;
          transition: all 0.1s ease;

          &:hover {
            transform: scale(1.2);
            z-index: 1;
          }

          > span {
            min-height: 20px !important;
            min-width: 20px !important;


            > input + span {
              min-width: 22px !important;
              min-height: 22px !important;
              border-radius: 11px !important;
              transition: all 0.1s ease;
            }
          }
          > [class*=inherited-color] {
            border: 1px dashed #999;
            position: relative;

            &::after {
              content: "↓"; /* or "Inherited" */
              font-size: 16px;
              bottom:2px;
              position: absolute;
              color: #999;
            }
          }
        }
      }
    }
  }

  > [class*=description-label],
  > [class*=error-label] {
    width: 100%;
    margin-top: 2px !important;
    font-size: 0.8em;
  }
}
